# IDE e strumenti
.vscode/
.idea/
*.iml
*.ipr
*.iws
.classpath

# Compilati / Build
/target/
/bin/
/out/

# Log
*.log

# Configurazioni locali
application-local.properties
*.local.properties

# File SQL specifici
define.sql
drop.sql

# Sistemi operativi
Thumbs.db
.DS_Store

# Altri file temporanei
*.tmp
*.swp
